.commentsForm {
  background: #a8cbffad;
  padding: 1rem 2.5rem;
  border-radius: 1.2rem;
  margin-top: 2rem;
  box-shadow: 0rem 0rem 1.2rem 0.1rem #808080a8;
  transition: ease-in-out 0.2s;
}

.commentsForm form {
  width: 100%;
  display: flex;
}

.commentsForm input {
  max-width: 60rem;
  width: 100%;
  font-size: 2rem;
  margin-right: 2rem;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  min-height: 2.5rem;
  font-size: 2rem;
  outline: none;
  border: 0.0001px solid #8080806e;
  text-align: start;
  transition: ease-in-out 0.2s;
}
.commentsForm button {
  padding: 0.8rem 1.8rem;
  font-weight: 600;
  border-radius: 1rem;
  background: #b7b7b7;
  color: #8d8d8d;
  outline: none;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.9rem 0.1rem white;
  transition: ease-in-out 0.2s;
  cursor: url('../pic/dove.png'), pointer;
}
.commentsForm p {
  font-size: 1.9rem;
}
.commentsForm button:hover {
  animation: shine 0.4s ease-in-out;
  background: #d9d9d9;
  color: white;
  transition: ease-in 0.2s;
}
.notification {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 1rem 1rem;
  color: #302f2f;
}

@keyframes shine {
  0% {
    box-shadow: 0.1rem 0.1rem 0.9rem 0.9rem white;
  }
  15% {
    box-shadow: 0.1rem 0.1rem 0.9rem 0.777rem white;
  }
  30% {
    box-shadow: 0.1rem 0.1rem 0.9rem 0.665rem white;
  }
  45% {
    box-shadow: 0.1rem 0.1rem 0.9rem 0.522rem white;
  }
  60% {
    box-shadow: 0.1rem 0.1rem 0.9rem 0.4222rem white;
  }
  75% {
    box-shadow: 0.1rem 0.1rem 0.9rem 0.32222rem white;
  }
  90% {
    box-shadow: 0.1rem 0.1rem 0.9rem 0.2111rem white;
  }
  100% {
    box-shadow: 0.1rem 0.1rem 0.9rem 0.1rem white;
  }
}
@media (min-width: 312px) and (max-width: 600px) {
  .commentsForm input {
    max-width: 60rem;
    width: 100%;
    font-size: 2rem;
    margin-right: 2rem;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    min-height: 2.5rem;
    font-size: 1.5rem;
    outline: none;
    border: 0.0001px solid #8080806e;
    text-align: start;
    transition: ease-in-out 0.2s;
  }
  .commentsForm button {
    padding: 0.6rem 1.1rem;
    font-weight: 600;
    border-radius: 1rem;
    background: #b7b7b7;
    color: #8d8d8d;
    outline: none;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.9rem 0.1rem white;
    transition: ease-in-out 0.2s;
  }
  .commentsForm p {
    font-size: 1.6rem;
  }
}
@media (min-width: 312px) and (max-width: 450px) {
  .commentsForm {
    background: #646464d1;
    padding: 1rem 2.5rem;
    border-radius: 1.2rem;
    margin-top: 2rem;
    box-shadow: 0rem 0rem 1.2rem 0.1rem #808080a8;
    transition: ease-in-out 0.2s;
  }
}
@media (min-width: 451px) and (max-width: 550px) {
  .commentsForm {
    background: #959595bf;
    padding: 1rem 2.5rem;
    border-radius: 1.2rem;
    margin-top: 2rem;
    box-shadow: 0rem 0rem 1.2rem 0.1rem #808080a8;
    transition: ease-in-out 0.2s;
  }
}
@media (min-width: 551px) and (max-width: 650px) {
  .commentsForm {
    background: #cfcfcf9e;
    padding: 1rem 2.5rem;
    border-radius: 1.2rem;
    margin-top: 2rem;
    box-shadow: 0rem 0rem 1.2rem 0.1rem #808080a8;
    transition: ease-in-out 0.2s;
  }
}
@media (min-width: 651px) and (max-width: 700px) {
  .commentsForm {
    background: #929cada8;
    padding: 1rem 2.5rem;
    border-radius: 1.2rem;
    margin-top: 2rem;
    box-shadow: 0rem 0rem 1.2rem 0.1rem #808080a8;
    transition: ease-in-out 0.2s;
  }
}
@media (min-width: 701px) and (max-width: 850px) {
  .commentsForm {
    background: #8e9fbb6b;
    padding: 1rem 2.5rem;
    border-radius: 1.2rem;
    margin-top: 2rem;
    box-shadow: 0rem 0rem 1.2rem 0.1rem #808080a8;
    transition: ease-in-out 0.2s;
  }
}
